@import "./include_media.scss";

// colors
$globalTheme: rgb(15, 2, 15);
$white: rgb(156, 156, 156);

html,
body {
    background-color: $globalTheme;
    color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
