@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import "./include-media.scss";

// colors
$globalTheme: rgb(15, 2, 15);
$white: rgb(212, 212, 212);

html,
body {
  background-color: $globalTheme;
  color: $white !important;

  h1{
    color: white !important;
  }

  #search-bar-icon{
    height: 2rem;
  }

  h2,
  h3,
  h4,
  strong,
  p,
  div {
    font-family: 'DM Mono', monospace;
    color: $white !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: $white;
}