@import "./include-media.scss";

// colors
$theme: rgb(15, 2, 15);
$themeSecondary: rgb(15, 2, 15);
$themeLight: rgb(59, 8, 59);
$themeSecondaryLight: rgba(250, 58, 250, 0.568);
$hoverColor: rgb(207, 30, 207);
$white: rgb(156, 156, 156);
$shadow: rgba(32, 32, 32, 0.315);

// Text
// Fonts
$leadingFont: "Fira Code",
monospace;

// Text sizing
$mediumTextSize: 1.1em;

// box sizing
$borderRadius: 0.5rem;

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $theme;

    nav {
        // nav styling
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10%;
        width: 100%;
        background-color: $themeSecondary;
        box-shadow: 0px 10px 10px 2px $shadow;

        // Links styling
        #ul>li,
        a {
            display: inline-block;
            line-height: 80px;
            margin: 0 0.9rem;
            color: $white;
            font-size: $mediumTextSize;
            font-family: $leadingFont;
        }

        a>p:hover {
            color: $hoverColor;
        }

        // Search bar styling
        #search_bar_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 20em;
            background: $themeLight;
            padding: 0.5rem;
            border-radius: $borderRadius;
            color: $white;
            box-shadow: 0.25rem 0.25rem 0rem $themeSecondaryLight;

            input {
                margin: 0 0.5rem 0 0.5rem;
                width: 100%;
                border: none;
                outline: none;
                background: $themeLight;
                color: $white;
            }

            ::placeholder {
                color: $white;
                font-family: $leadingFont;
            }
        }

        #hamburger-menu {
            display: none;
        }
        
        #toggled_hamburger_menu{
            display: none;
        }
    }
}


@include media(">phone", "<=tablet") {
    #container {
        nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 10%;
            background-color: $themeSecondary;
            box-shadow: 0px 10px 10px 2px $shadow;
            font-size: 0.8em;

            #search_bar_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 11em;

            input {
                margin: 0 0.5rem 0 0.5rem;
                width: 100%;
                border: none;
                outline: none;
                background: $themeLight;
                color: $white;
            }

            ::placeholder {
                color: $white;
                font-family: $leadingFont;
            }
        }
        #ul{
            display: none;
        }

            #hamburger_menu {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 1.5em;
                height: 2em;
            }
            #hamburger_menu > div > div{
                height: 0.2em;
                width: 100%;
                background-color: white;
                margin-bottom: 0.2rem;
            }

            #toggled_hamburger_menu{
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                position: absolute;
                height: 50em;
                width: 100%;
                animation: toggled_hamburger_menu 0.3s;
                background-color: $themeLight;
                color:white;

                ul > li > a{
                    color: $white;
                    font-size: 1.3em;
                    font-weight: bold;
                    padding: 1%;
                    margin-left: -13;
                }
                button{
                    width: 5rem;
                    height: 2rem;
                    color: $white;
                    background-color: $theme;
                    border: none;
                    border-radius: $borderRadius;
                    box-shadow: 0.25rem 0.25rem 0rem $themeSecondaryLight;
                }
            }
            
            @keyframes toggled_hamburger_menu{
                0%{
                    width:0;
                }
                100%{
                    width:100%
                }
            }
        }

        
        
    }
}


@include media("<=phone") {
    #container {
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 10%;
            background-color: $themeSecondary;
            box-shadow: 0px 10px 10px 2px $shadow;
            font-size: 0.8em;

            #search_bar_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 6em;

            input {
                margin: 0 0.5rem 0 0.5rem;
                width: 100%;
                border: none;
                outline: none;
                background: $themeLight;
                color: $white;
            }
        }
        #ul{
            display: none;
        }

            #hamburger_menu {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 1.5em;
                height: 2em;
            }
            #hamburger_menu > div > div{
                height: 0.2em;
                width: 100%;
                background-color: white;
                margin-bottom: 0.2rem;
            }

            #toggled_hamburger_menu{
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                position: absolute;
                height: 50em;
                width: 100%;
                animation: toggled_hamburger_menu 0.3s;
                background-color: $themeLight;
                color:white;

                ul > li > a{
                    color: $white;
                    font-size: 1.3em;
                    font-weight: bold;
                    padding: 1%;
                }
                button{
                    width: 5rem;
                    height: 2rem;
                    color: $white;
                    background-color: $theme;
                    border: none;
                    border-radius: 0.5rem;
                    box-shadow: 0.25rem 0.25rem 0rem $themeSecondaryLight;
                }
            }
            
            @keyframes toggled_hamburger_menu{
                0%{
                    width:0;
                }
                100%{
                    width:100%
                }
            }
        }
    }
}