// colors
$theme: rgb(15, 2, 15);
$themeSecondary: rgb(15, 2, 15);
$themeLight: rgb(59, 8, 59);
$themeSecondaryLight: rgba(250, 58, 250, 0.568);
$hoverColor: rgb(207, 30, 207);
$white: rgb(156, 156, 156);
// Fonts
$leadingTitleFont: "Fira Code",
monospace;
// Text
$leadingTitleSize: 1.1em;
$shadow: rgba(32, 32, 32, 0.315);

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background-color: $theme;

    nav {
        // nav styling
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        background-color: $themeSecondary;
        box-shadow: 0px 10px 10px 2px $shadow;

        // Links styling
        ul>li,
        a {
            display: inline-block;
            line-height: 80px;
            margin: 0 0.9rem;
            color: $white;
            font-size: $leadingTitleSize;
            font-family: $leadingTitleFont;
        }

        ul>li>a:hover {
            color: $hoverColor;
        }

        // Search bar styling
        #search_bar_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 20em;
            background: $themeLight;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: $white;
            box-shadow: 0.25rem 0.25rem 0rem $themeSecondaryLight;

            input {
                margin: 0 0.5rem 0 0.5rem;
                width: 100%;
                border: none;
                outline: none;
                background: $themeLight;
                color: $white;
            }

            ::placeholder {
                color: $white;
            }

        }
    }
}