@import "include-media.scss";

#container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    // margin-top: 2rem;

    #tags_and_latest_posts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        right: 2rem;
        height: 500px;
        width: 20%;
        border-radius: 7px;
        border: 1px dashed rgb(108, 19, 192);
        background-color: rgb(31, 16, 49);
        text-overflow: clip;
        padding: 1rem;

        #tags{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 40%;
            width: 100%;
            padding-top: 1rem;

            #tag{
                display: grid;
                place-items: center;
                height: 2rem;
                padding: 7px;
                border: 0.3px dashed rgb(108, 19, 192);
                border-radius: 7px;
                p{
                    font-size: 0.8rem;
                }
            }
        }
        #latest_posts{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60%;
            width: 90%;
            text-overflow: ellipsis;
            #post_title{
                width: 90;
                a {
                    padding-bottom: 0.3rem;
                    color: rgb(194, 36, 194);
                    border-bottom: 3px rgba(250, 58, 250, 0.568) dashed;
                }
            }
        }
    }

    #mid_section{
        width: 57%;
        margin-bottom: 10rem;
        padding: 1rem;
        background-color: rgba(33, 27, 36, 0.555);
    }

    #info_aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: 2px;
        right: 2rem;
        height: 500px;
        width: 20%;
        border-radius: 7px;
        border: 1px dashed rgb(108, 19, 192);
        background-color: rgb(31, 16, 49);
        text-overflow: clip;
        padding: 1rem;

        a {
            color: rgb(194, 36, 194);
            border-bottom: 3px rgba(250, 58, 250, 0.568) dashed;
        }

        #image{
            height: 50%;
            width: 60%;
        }
    }
}

@include media("<desktop") {
    #container {
        #tags_and_latest_posts{
            display: none;
        }
        #mid_section{
        background-color: rgb(15, 2, 15);

            width: 100%;
            margin-top: 5rem;
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1.3rem;
            }

            h3{
                font-size: 0.8rem;
            }

            p, li{
                font-size: 1rem;
            }
        }
        #info_aside{
            display: none;
        }
    }
}