@import "./include-media.scss";

// colors
$theme: rgb(15, 2, 15);
$themeSecondary: rgb(15, 2, 15);
$themeLight: rgb(59, 8, 59);
$themeSecondaryLight: rgba(250, 58, 250, 0.568);
$hoverColor: rgb(207, 30, 207);
$white: rgb(156, 156, 156);
$shadow: rgba(32, 32, 32, 0.315);

// Text
// Fonts
$leadingFont: "Fira Code",
monospace;

// Text sizing
$mediumTextSize: 1.1em;

// box sizing
$borderRadius: 0.5rem;

#tags_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    margin-bottom: 1rem;

        .tags_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            

            .tag {
                display: grid;
                place-items: center;
                height: 4em;
                border-radius: 0.4rem;
                margin-top: 0.4rem;
                font-size: 1rem;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    @include media(">phone", "<=tablet"){
        .tags_row{
            margin-top: 4rem;
        }

    }